html, body {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
}

/*
body {
    background: #FFF url(/images/mediterra.jpg) no-repeat bottom center;
}
*/
img.banner {
    vertical-align: bottom;
    text-align: center;
    border: 0;
    height: 100%;
}
