html, body {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
}

/*
body {
    background: #FFF url(/images/mediterra.jpg) no-repeat bottom center;
}
*/
div.banner {
    margin: auto;
}
img.banner {
    /* Set rules to fill background */
    max-height: 100%;

    /* Set up proportionate scaling */
    height: auto;

    /* Set up positioning */
    position: fixed;

    /* Align horizontally */
    left:0;
    right:0;
    margin:0 auto;   
}
